# Core
PORT=5050
MONGODB_URI=mongodb://localhost:27017/tutorix_hometutor
JWT_SECRET=replace-with-strong-secret
FRONTEND_BASE_URL=http://localhost:3000
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password

# Khalti Sandbox
KHALTI_PUBLIC_KEY=replace-with-khalti-sandbox-public-key
KHALTI_SECRET_KEY=replace-with-khalti-sandbox-secret-key
KHALTI_INITIATE_URL=https://a.khalti.com/api/v2/epayment/initiate/
KHALTI_LOOKUP_URL=https://a.khalti.com/api/v2/epayment/lookup/

# eSewa Sandbox
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_INITIATE_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_URL=https://rc.esewa.com.np/api/epay/transaction/status/
ESEWA_SUCCESS_URL=http://localhost:3000/esewa/success
ESEWA_FAILURE_URL=http://localhost:3000/esewa/failure
